In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl.metadata (7.8 kB)
Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ltk (C:\Users\SURESH PATEL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (C:\Users\SURESH PATEL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ltk (C:\Users\SURESH PATEL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (C:\Users\SURESH PATEL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ltk (C:\Users\SURESH PATEL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (C:\Users\SURESH PATEL\anaconda3\Lib\site-packages)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [19]:
producer = KafkaProducer(bootstrap_servers=['54.160.243.136:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [20]:
producer.send('test', value={'dhruvi':'patel'})

In [5]:
producer.send('demo', value={'jay':'patel'})

In [6]:
producer.send('demo', value={'dhruvi':'patel'})

In [7]:
producer.send('demo', value={'dhruvi':'patel'})

In [8]:
producer.send('demo', value={'dhruvi':'patel'})

In [22]:
producer.send('demo', value={'dhruvi':'patel'})

In [23]:
producer.send('demo', value={'rachna':'patel'})

In [13]:
producer.send('demo', value={'rachna':'patel'})

In [14]:
producer.send('demo', value={'rachna':'patel'})

In [15]:
producer.send('demo', value={'rachna':'patel'})

In [16]:
producer.send('demo', value={'rachna':'patel'})

In [21]:
df = pd.read_csv('indexProcessed.csv')
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [22]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
61104,399001.SZ,2001-02-14,4464.52002,4483.75,4456.049805,4468.759766,4468.709473,0.0,715.001563

In [23]:
df.sample(1).to_dict()

{'Index': {54667: 'N225'},
 'Date': {54667: '2020-11-26'},
 'Open': {54667: 26255.4707},
 'High': {54667: 26560.0293},
 'Low': {54667: 26255.4707},
 'Close': {54667: 26537.31055},
 'Adj Close': {54667: 26537.31055},
 'Volume': {54667: 63500000.0},
 'CloseUSD': {54667: 265.3731055}}

In [24]:
df.sample(1).to_dict(orient='records')

[{'Index': 'GSPTSE',
  'Date': '2019-10-01',
  'Open': 16683.59961,
  'High': 16707.5,
  'Low': 16429.59961,
  'Close': 16447.69922,
  'Adj Close': 16447.69922,
  'Volume': 22519570000.0,
  'CloseUSD': 13651.590352599998}]

In [25]:
df.sample(1).to_dict(orient='records')[0]

{'Index': '399001.SZ',
 'Date': '2019-09-09',
 'Open': 9907.129883,
 'High': 10001.92969,
 'Low': 9853.69043,
 'Close': 10001.92969,
 'Adj Close': 10001.92969,
 'Volume': 178100.0,
 'CloseUSD': 1600.3087504000002}

In [31]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('test2', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [16]:
producer.flush()